include django-polls/polls/views.py
include django-polls/polls/__init__.py
include django-polls/polls/urls.py
include django-polls/polls/apps.py
include django-polls/polls/forms.py
include django-polls/polls/templates/polls/detail.html
include django-polls/polls/templates/polls/signup.html
include django-polls/polls/templates/polls/index.html
include django-polls/polls/templates/polls/base.html
include django-polls/polls/templates/polls/login.html
include django-polls/polls/templates/polls/results.html
include django-polls/polls/tests.py
include django-polls/polls/static/css/style.css
include django-polls/polls/migrations/0003_user.py
include django-polls/polls/migrations/__init__.py
include django-polls/polls/migrations/0002_auto_20180111_0705.py
include django-polls/polls/migrations/0001_initial.py
include django-polls/polls/models.py
include django-polls/polls/admin.py
include django-polls/polls/templatetags/__init__.py
include django-polls/polls/templatetags/myfilters.py
include django-polls/mysite/wsgi.py
include django-polls/mysite/__init__.py
include django-polls/mysite/urls.py
include django-polls/mysite/settings.py
include django-polls/populate.py
include django-polls/static/admin/js/cancel.js
include django-polls/static/admin/js/inlines.js
include django-polls/static/admin/js/prepopulate_init.js
include django-polls/static/admin/js/admin/DateTimeShortcuts.js
include django-polls/static/admin/js/admin/RelatedObjectLookups.js
include django-polls/static/admin/js/change_form.js
include django-polls/static/admin/js/prepopulate.js
include django-polls/static/admin/js/SelectBox.js
include django-polls/static/admin/js/timeparse.js
include django-polls/static/admin/js/calendar.js
include django-polls/static/admin/js/urlify.js
include django-polls/static/admin/js/actions.js
include django-polls/static/admin/js/core.js
include django-polls/static/admin/js/collapse.min.js
include django-polls/static/admin/js/popup_response.js
include django-polls/static/admin/js/inlines.min.js
include django-polls/static/admin/js/vendor/xregexp/xregexp.js
include django-polls/static/admin/js/vendor/xregexp/LICENSE-XREGEXP.txt
include django-polls/static/admin/js/vendor/xregexp/xregexp.min.js
include django-polls/static/admin/js/vendor/jquery/jquery.js
include django-polls/static/admin/js/vendor/jquery/jquery.min.js
include django-polls/static/admin/js/vendor/jquery/LICENSE-JQUERY.txt
include django-polls/static/admin/js/jquery.init.js
include django-polls/static/admin/js/SelectFilter2.js
include django-polls/static/admin/js/collapse.js
include django-polls/static/admin/js/prepopulate.min.js
include django-polls/static/admin/js/actions.min.js
include django-polls/static/admin/css/forms.css
include django-polls/static/admin/css/base.css
include django-polls/static/admin/css/fonts.css
include django-polls/static/admin/css/rtl.css
include django-polls/static/admin/css/changelists.css
include django-polls/static/admin/css/dashboard.css
include django-polls/static/admin/css/widgets.css
include django-polls/static/admin/css/login.css
include django-polls/static/admin/fonts/Roboto-Light-webfont.woff
include django-polls/static/admin/fonts/README.txt
include django-polls/static/admin/fonts/Roboto-Bold-webfont.woff
include django-polls/static/admin/fonts/Roboto-Regular-webfont.woff
include django-polls/static/admin/fonts/LICENSE.txt
include django-polls/static/admin/img/icon-alert.svg
include django-polls/static/admin/img/icon-deletelink.svg
include django-polls/static/admin/img/inline-delete.svg
include django-polls/static/admin/img/icon-unknown.svg
include django-polls/static/admin/img/icon-no.svg
include django-polls/static/admin/img/icon-clock.svg
include django-polls/static/admin/img/tooltag-arrowright.svg
include django-polls/static/admin/img/calendar-icons.svg
include django-polls/static/admin/img/icon-addlink.svg
include django-polls/static/admin/img/LICENSE
include django-polls/static/admin/img/search.svg
include django-polls/static/admin/img/selector-icons.svg
include django-polls/static/admin/img/gis/move_vertex_on.svg
include django-polls/static/admin/img/gis/move_vertex_off.svg
include django-polls/static/admin/img/icon-calendar.svg
include django-polls/static/admin/img/README.txt
include django-polls/static/admin/img/icon-yes.svg
include django-polls/static/admin/img/icon-unknown-alt.svg
include django-polls/static/admin/img/icon-changelink.svg
include django-polls/static/admin/img/tooltag-add.svg
include django-polls/static/admin/img/sorting-icons.svg
include django-polls/static/css/style.css
include django-polls/manage.py
include setup.py
include LICENSE.txt
include README
